.App {
  text-align: center;
}
.border-css {
  height: 150px;
  margin-left: 320px;
  margin-right: 320px;
  padding: 2%;
  font-size: 1.2em;
  border: solid 4px navy;
  position: relative;
}

.App-logo {
  height: 40vmin;
}

.Player {
  margin-left: 130px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Cards-style {
  color: #09d3ac;
  width: 145;
  height: 100;
}

.our-team {
  padding: 0px 0px 0px;
  margin-bottom: 5px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .university {
  display: inline-block;
  height: 200px;
  width: 225px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.our-team .university::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .university::before {
  height: 100%;
}

.our-team .university::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .university img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .university img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .picture {
  display: inline-block;
  height: 300px;
  width: 200px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.our-player {
  background-image: url("./review_background.jpg");
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 50;
  height: 50vh;
  z-index: 10;
}
.our-player2 {
  background-image: url("./CoverPic.jpg");
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 50;
  height: 50vh;
  z-index: 10;
}

.our-player .person {
  display: inline-block;
  height: 200px;
  width: 225px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.our-player .person::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-player:hover .person::before {
  height: 100%;
}

.our-player .person img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-player:hover .person img {
  box-shadow: 0 0 0 14px blue;
  transform: scale(0.9);
}

.our-player .picture {
  display: inline-block;
  height: 400px;
  width: 300px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-player .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-player:hover .picture::before {
  height: 100%;
}

.our-player .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-player .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-player:hover .picture img {
  box-shadow: 0 0 0 14px white;
  transform: scale(0.7);
}


.our-player2 .person {
  display: inline-block;
  height: 200px;
  width: 225px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.our-player2 .person::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-player2:hover .person::before {
  height: 100%;
}

.our-player2 .person img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-player2:hover .person img {
  box-shadow: 0 0 0 14px blue;
  transform: scale(0.9);
}

.our-player2 .picture {
  display: inline-block;
  height: 400px;
  width: 300px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-player2 .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-player2:hover .picture::before {
  height: 100%;
}

.our-player2 .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-player2 .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-player2:hover .picture img {
  box-shadow: 0 0 0 14px white;
  transform: scale(0.7);
}

#backGround {
  background-image: url("./ReviewCover_.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 50vh;
  z-index: -10;
}