.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Cards-style {
  color: #09d3ac;
  width: 145;
  height: 100;
}

.our-team {
  padding: 0px 0px 0px;
  margin-bottom: 5px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.our-team .team-content {
  background-color: 1369ce;
}

.our-team .university {
  display: inline-block;
  height: 200px;
  width: 225px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
  border-radius: 50%;
}

.our-team .university::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
}

.our-team:hover .university::before {
  height: 100%;
  border-radius: 50%;
}

.our-team .university::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.our-team .picture {
  name: "";
  display: inline-block;
  height: 300px;
  width: 200px;
  margin-bottom: 100px;
  z-index: 1;
  border-radius: 50%;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  transform: scale(3);
  transition: all 0.3s linear 0s;
  z-index: -10000;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: black;
  text-transform: capitalize;
}
.our-team .title3 {
  display: block;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
}

.our-team .title2 {
  display: block;
  font-size: 23px;
  color: white;
  text-transform: capitalize;
}

.our-team .name {
  font-size: 27px;
  color: silver;
  text-transform: capitalize;
}
